@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Exo 2', serif;
  --ff-special: 'Oxanium', sans-serif;
  --brand-color: #3baba0;
  --primary-color: #2c2c2c;
  --secondary-color: #eee5da;
  --line-height-1: 1.2em;
  --font-color: #ca3132;
  --dark-color: #262424;
  --light-color: #f9f9f9;
  --white-color: #ffffff;
  --header-h: 60px;
  --section-gap: 4rem;
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --w-limit: 80%;
  --fs-100: 14px;
  --fs-150: 16px;
  --fs-200: 18px;
  --fs-250: 20px;
  --fs-300: 24px;
  --fs-350: 28px;
  --fs-400: 32px;
  --fs-450: 36px;
  --fs-500: 40px;
  --fs-550: 44px;
  --fs-600: 48px;
  --fs-650: 52px;
  --fs-700: 56px;
  --fs-750: 60px;
  --fs-800: 64px;
  --fs-850: 68px;
  --fs-900: 72px;
  --fs-950: 76px;
  --fs-1000: 80px;
}

@media (max-width: 1920px) {
  :root {
    --w-limit: 1440px;
  }
}

@media (max-width: 1024px) {
  :root {
    --fs-100: 12px;
    --fs-150: 14px;
    --fs-200: 16px;
    --fs-250: 18px;
    --fs-300: 20px;
    --fs-350: 22px;
    --fs-400: 24px;
    --fs-450: 28px;
    --fs-500: 32px;
    --fs-550: 36px;
    --fs-600: 40px;
    --fs-650: 44px;
    --fs-700: 48px;
    --fs-750: 52px;
    --fs-800: 56px;
    --fs-850: 60px;
    --fs-900: 64px;
    --fs-950: 68px;
    --fs-1000: 72px;
    --section-gap: 2.5rem;
  }
}

@media (max-width: 767px) {
  :root {
    --fs-100: 12px;
    --fs-150: 14px;
    --fs-200: 14px;
    --fs-250: 16px;
    --fs-300: 18px;
    --fs-350: 20px;
    --fs-400: 22px;
    --fs-450: 24px;
    --fs-500: 28px;
    --fs-550: 32px;
    --fs-600: 34px;
    --fs-650: 40px;
    --fs-700: 44px;
    --fs-750: 48px;
    --fs-800: 52px;
    --fs-850: 56px;
    --fs-900: 60px;
    --fs-950: 64px;
    --fs-1000: 68px;
    --section-gap: 2rem;
  }
}

.line-height-1 {
  line-height: var(--line-height-1);
}
.ff-p-thin {
  font-family: var(--ff-primary);
  font-weight: 100;
  font-style: normal;
}

.ff-p-light {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-style: normal;
}

.ff-p-regular {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-style: normal;
}

.ff-p-medium {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-style: normal;
}

.ff-p-bold {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-style: normal;
}

.ff-p-black {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-style: normal;
}

.ff-p-thin-italic {
  font-family: var(--ff-primary);
  font-weight: 100;
  font-style: italic;
}

.ff-p-light-italic {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-style: italic;
}

.ff-p-regular-italic {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-style: italic;
}

.ff-p-medium-italic {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-style: italic;
}

.ff-p-bold-italic {
  font-family: var(--ff-primary);
  font-weight: 700;
  font-style: italic;
}

.ff-p-black-italic {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-style: italic;
}

.ff-secondary {
  font-family: var(--ff-secondary);
}
.ff-special {
  font-family: var(--ff-special);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: var(--font-color);
  font-size: var(--fs-200);
  font-family: var(--ff-primary) !important;
  overflow-x: hidden;
  background-color: var(--light-color);
}
main {
  overflow-x: hidden;
}
.w-limit {
  max-width: var(--w-limit);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: var(--ff-secondary);
}

h1 {
  font-size: var(--fs-700) !important;
}

h2 {
  font-size: var(--fs-600) !important;
}

h3 {
  font-size: var(--fs-500) !important;
}

h4 {
  font-size: var(--fs-400) !important;
}

h5 {
  font-size: var(--fs-300) !important;
}

h6 {
  font-size: var(--fs-200) !important;
}

.fs-100 {
  font-size: var(--fs-100) !important;
}
.fs-150 {
  font-size: var(--fs-150) !important;
}
.fs-200 {
  font-size: var(--fs-200) !important;
}
.fs-250 {
  font-size: var(--fs-250) !important;
}
.fs-300 {
  font-size: var(--fs-300) !important;
}
.fs-350 {
  font-size: var(--fs-350) !important;
}
.fs-400 {
  font-size: var(--fs-400) !important;
}
.fs-450 {
  font-size: var(--fs-450) !important;
}
.fs-500 {
  font-size: var(--fs-500) !important;
}
.fs-550 {
  font-size: var(--fs-550) !important;
}
.fs-600 {
  font-size: var(--fs-600) !important;
}
.fs-650 {
  font-size: var(--fs-650) !important;
}
.fs-700 {
  font-size: var(--fs-700) !important;
}
.fs-750 {
  font-size: var(--fs-750) !important;
}
.fs-800 {
  font-size: var(--fs-800) !important;
}
.fs-850 {
  font-size: var(--fs-850) !important;
}
.fs-900 {
  font-size: var(--fs-900) !important;
}
.fs-950 {
  font-size: var(--fs-950) !important;
}
.fs-1000 {
  font-size: var(--fs-1000) !important;
}
.clr-white {
  color: var(--white-color);
}
.clr-primary {
  color: var(--primary-color);
}
.clr-secondary {
  color: var(--secondary-color);
}
.clr-brand {
  color: var(--brand-color);
}
.section-px {
  padding-inline: var(--section-gap);
}

.section-py {
  padding-block: var(--section-gap);
}
.lg-hide {
  display: none !important;
}

.md-hide {
  display: none !important;
}

.flow > *:not(:first-child) {
  padding-top: 1.5rem;
}
.margin-flow > *:not(:first-child) {
  margin-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
  main {
    overflow-x: hidden;
  }
  .mobile-hide {
    display: none !important;
  }

  .md-show-grid {
    display: grid !important;
  }

  .lg-hide {
    display: flex !important;
  }
}

@media screen and (max-width: 767px) {
  .md-hide {
    display: flex !important;
  }

  .mobile-hide {
    display: none !important;
  }
}

#main-container {
  position: relative;
}
.show {
  transition: opacity 0.4s ease;
}
.movement {
  transition:
    transform 2s ease-out,
    opacity 2s ease-out;
}

.subtitle {
  font-weight: 550;
}

.content-wrapper {
  position: relative;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.div-hide {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
